 <div class="row">
    <div class="col-sm-4">
      
<div class="card" style="width: 18rem;">
  <img src="/images/155.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Eren Jaeger</h5>
    <p class="card-text">all merches about your favorite caracter from your favorite anime click here for mere erene's meches.</p>
    <div class="price">220$</div>
    <a href="#" class="btn btn-outline-success">Go and buy</a>
  </div>
</div>
    </div>
    <div class="col-sm-4">
      
<div class="card" style="width: 18rem;">
  <img src="/images/mikasa.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> Mikasa Ackerman</h5>
    <p class="card-text">all merches about your favorite caracter from your favorite anime click here for mere mikasa's meches.</p>
    <div class="price">220$</div>
    <a href="#" class="btn btn-outline-success">Go and buy</a>
  </div>
</div>
    </div>
    <div class="col-sm-4">
      
<div class="card" style="width: 18rem;">
  <img src="/images/armin.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Armin Arlert</h5>
    <p class="card-text">all merches about your favorite caracter from your favorite anime click here for mere armin's meches.</p>
    <div class="price">220$</div>
    <a href="#" class="btn btn-outline-success">Go and buy</a>
  </div>
</div>
    </div>
  </div>
<div class="row">
    <div class="col-sm-4"><div class="card" style="width: 18rem;">
  <img src="/images/jean.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Jean Kristein</h5>
    <p class="card-text">all merches about your favorite caracter from your favorite anime click here for mere jean's meches.</p>
    <div class="price">220$</div>
    <a href="#" class="btn btn-outline-success">Go and buy</a>
  </div>
</div></div>
    <div class="col-sm-4"><div class="card" style="width: 18rem;">
  <img src="/images/levi.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">levi</h5>
    <p class="card-text">all merches about your favorite caracter from your favorite anime click here for mere levi's meches.</p>
    <div class="price">220$</div>
    <a href="#" class="btn btn-outline-success">Go and buy</a>
  </div>
</div></div>
    <div class="col-sm-4"><div class="card" style="width: 18rem;">
  <img src="/images/sacha.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sacha Braus</h5>
    <p class="card-text">all merches about your favorite caracter from your favorite anime click here for mere sacha's meches.</p>
    <div class="price">220$</div>
    <a href="#" class="btn btn-outline-success">Go and buy</a>
  </div>
</div></div>
  </div>