.container-fluid{
    margin-top: 20px;
}
.card{
    margin-top: 20px;
    margin-left: 70px;
    
}
.card-img-top{
    height: 30%;
    
}
.price{
    font-size: large;
    font-weight: 300;
    
}
.row{
    padding-left: -50px;
}